*~
*.iml
.idea/
VERSION.txt
bin/
dist/
doc/olap4j_api.pdf
lib/
out/
src/main/java/org/olap4j/driver/xmla/XmlaOlap4jDriverVersion.java
src/main/java/org/olap4j/mdx/parser/impl/MdxParserImpl.java
src/main/java/org/olap4j/mdx/parser/impl/MdxParserImplConstants.java
src/main/java/org/olap4j/mdx/parser/impl/MdxParserImplTokenManager.java
src/main/java/org/olap4j/mdx/parser/impl/ParseException.java
src/main/java/org/olap4j/mdx/parser/impl/SimpleCharStream.java
src/main/java/org/olap4j/mdx/parser/impl/Token.java
src/main/java/org/olap4j/mdx/parser/impl/TokenMgrError.java
testlib/
eclipse-bin/
pom.xml.bak
target/